header {
  text-align: center;
  color: #500000;
  margin-top: 1rem;
}

.container {
  background-color: #500000;
  color: #FFFFFF;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 20px;
}

.col {
  padding: 15px;
  text-align: center;
}

.game-info {
  margin-top: 20px;
}

.stadium-name {
  text-decoration: underline;
}

#stadiumWeatherDetails {
  position: relative;
  top: 75px;
}

.weather-emoji {
  font-size: 2.75rem;
}

.current-temp {
  font-size: 2.5rem;
  color: #00ffff;
}

.degrees-unit {
  font-size: 1rem;
  position: relative;
  bottom: 15px;
  right: 5px;
}

#realFeelUnits {
  font-size: .75rem;
  position: relative;
  bottom: 5px;
}

.weather-data-numbers {
  color: #00ffff;
}

.weekly-chant {
  text-align: center;
  position: relative;
  top: 30px;
  padding: 15px 0px;
}

small {
  position: relative;
  top: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
}

footer {
  text-align: center;
  margin-top: 15px;
}